layout{
    focus-ring{
        active-gradient from="#abc7ffcc" to="#ddbce0cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#37393e"
        urgent-color "#ffb4ab"
    }
}
